on:
  pull_request:
    types: [opened, labeled, unlabeled, synchronize]
    branches: [main]
env:
  notMergeableLabel: do not merge
jobs:
  fail_unlabeled:
    runs-on: ubuntu-latest
    steps:
      - uses: mheap/github-action-required-labels@v5
        with:
          mode: minimum
          count: 1
          labels: "bug"
      - uses: mheap/github-action-required-labels@v5
        with:
          mode: exactly
          count: 0
          labels: "do not merge"
